.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.welcome {
  font-size: 70px;
  color: #1b4bb0;
  margin-left: 10vw;
  font-weight: 900;
  line-height: 50px;
  margin-bottom: 0px;
}
.namePage {
  font-size: 70px;
  color: #1b4bb0;
  margin-left: 6vw;
  font-weight: 900;
  line-height: 50px;
  border-bottom: 3px solid #c1c1c18a;
  height: 100px;
  width: 800px;
}
.containWelcome {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
.containSelect {
  margin-top: 40px;
  text-shadow: rgb(255, 255, 255) 10px 0px 10px;
}

.icon {
  height: 60px;
}

.selectName {
  padding-left: 10px;
  font-size: 20px;
  background-color: rgba(154, 148, 148, 0.471);
  border-style: none;
  outline: none;

  border-radius: 20px;
  height: 30px;
  width: 260px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.message {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 25px;
}

.containInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputPass {
  padding-left: 10px;
  font-size: 20px;
  background-color: rgba(154, 148, 148, 0.641);
  border-style: none;
  outline: none;
  border-radius: 20px;
  height: 30px;
  width: 260px;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.submit {
  margin-top: 70px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: #1b4bb0;
  height: 40px;
  width: 200px;
  border-radius: 17px;
  font-weight: 800;
  border-style: none;
  transition-duration: 3s;
}

.submit:hover {
  box-shadow: black 2px 4px 20px;

  transition-duration: 1s;
}

@media screen and (max-width: 920px) {
  .namePage {
    width: 90vw;
  }
  .icon {
    height: 50px;
  }
  .message {
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  .namePage {
    margin-top: 2px;
    font-size: 50px;
  }
  .icon {
    height: 40px;
  }
  .welcome {
    line-height: 60px;
    font-size: 50px;
  }
}
@media screen and (max-width: 500px) {
  .message {
    margin-left: 40px;
    margin-right: 40px;
  }
  .submit {
    width: 150px;
    height: 30px;
    font-weight: 100;
  }
  .selectName {
    width: 200px;
  }
  .inputPass {
    width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .namePage {
    margin-top: 2px;
    font-size: 40px;
    line-height: 40px;
    height: 60px;
  }
  .welcome {
    line-height: 40px;
    font-size: 40px;
  }
}
@media screen and (max-width: 350px) {
  .namePage {
    margin-top: 2px;
    font-size: 35px;
    line-height: 40px;
    height: 60px;
  }
  .welcome {
    line-height: 40px;
    font-size: 35px;
  }
  .selectName {
    width: 170px;
  }
  .inputPass {
    width: 170px;
  }
}
