.container {
  background: url("https://res.cloudinary.com/dw83apcj7/image/upload/v1675376730/productos_eoaycg.png");
  background-attachment: fixed;
}
.header {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 200px;

  position: sticky;
  top: 0%;
  backdrop-filter: blur(150px);
}
.containTitle {
  width: 50%;
  height: 200px;
}

.title {
  font-size: 90px;
  font-weight: 800;
  margin-left: 5vw;
  border-bottom: 3px solid #1b4ab0bf;
  padding-right: 250px;
  padding-left: 30px;
}
.containButton {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: end;
}
.img {
  height: 20px;
  margin-right: 5px;
}
.logout {
  margin-top: 30px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 150px;
  font-size: 15px;
  font-weight: 600;
  border-style: none;
  background: rgba(128, 128, 128, 0.486);
  border-radius: 18px;

  transition-duration: 3s;
}
.containBody {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.containMenu {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: fit-content;
  position: sticky;
  top: 26vh;
  align-items: center;
}
.containOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Paginado {
}
.cardContain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  width: 68%;
}
.card {
  margin: 20px;
}
.link {
  text-decoration: none;
}

.search {
}

.productPostLink {
  text-decoration: none;
}
.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-style: none;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 10px;
  background: #1b4ab0;
  font-size: 20px;
  font-weight: 700;
  transition-duration: 1s;
  color: white;
  border: 4px solid #c1c1c1;
}
.addButton:hover {
  transition-duration: 1s;
  box-shadow: rgba(0, 0, 0, 0.445) 1px 1px 15px;
}
.addButton:focus {
  cursor: progress;
}
.refresh:active {
  cursor: progress;
}
.iconReload {
  height: 15px;
  margin-right: 5px;
}
.iconAdd {
  height: 25px;
  margin-right: 5px;
}

.refresh {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 120px;
  font-size: 15px;
  font-weight: 600;
  border-style: none;
  background: rgba(128, 128, 128, 0.486);
  border-radius: 18px;
  /* margin-bottom: 40px;
  margin-right: 70px; */

  transition-duration: 3s;
  margin-bottom: 20px;
}
.refresh:hover {
  transition-duration: 1s;
  box-shadow: black 1px 1px 15px;
}

.refresh:active {
  cursor: progress;
}
.selectFilter {
  outline: none;
  border-style: none;
  width: 250px;
  height: 36px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: rgba(128, 128, 128, 0.749);
  font-size: 20px;
  color: rgb(254, 254, 254);
  padding-left: 20px;
  margin-bottom: 10px;
}
.text {
  font-weight: 500;
}

.link {
  text-decoration: none;
}
@media screen and (max-width: 1400px) {
  .title {
    font-size: 70px;
    padding-right: 200px;
  }
  .text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
  }
  .addButton {
    width: 200px;
    font-size: 15px;
  }
  .selectFilter {
    width: 200px;
  }
  .containPaginado {
    margin-top: 30px;
    width: 250px;
  }
  .containOptions {
    width: 100vw;
    position: sticky;
    top: 27vh;
  }
}
@media screen and (max-height: 820px) {
  .containOptions {
    position: sticky;
    top: 30vh;
  }
}

@media screen and (max-width: 950px) {
  .containButton {
    height: 100px;
  }
  .header {
    height: 100px;
    position: static;
  }
  .title {
    font-size: 60px;
    padding-right: 100px;
  }
  .containBody {
    display: flex;
    flex-direction: column;
  }
  .containOptions {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 50%;
  }

  .containMenu {
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(150px);
    padding-bottom: 5px;
    margin-bottom: 30px;
  }
  .cardContain {
    display: flex;
    align-items: center;
  }

  .cardContain {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .containTitle {
    width: 60%;
  }
  .title {
    font-size: 50px;
    padding-right: 200px;
  }
}
@media screen and (max-width: 650px) {
  .header {
    display: flex;
  }
  .title {
    font-size: 45px;
    padding-right: 200px;
  }
  .text {
    font-size: 20px;
  }
  .selectFilter {
    width: 140px;
    font-size: 15px;
    height: 25px;
  }
  .addButton {
    width: 140px;
    font-size: 10px;
    height: 25px;
  }
  .iconAdd {
    visibility: unset;
    height: 15px;
  }
  .logout {
    margin-right: 40px;
  }
}
@media screen and (max-width: 500px) {
  .logout {
    margin-top: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 140px;
    font-size: 13px;
    font-weight: 600;
    border-style: none;
    background: rgba(128, 128, 128, 0.486);
    border-radius: 18px;
    /* margin-bottom: 40px;
    margin-right: 70px; */
    transition-duration: 3s;
  }
}
@media screen and (max-width: 480px) {
  .refresh {
    margin: 3px;
  }
  .text {
    margin: 3px;
  }
  .header {
    display: flex;
  }
  .logout {
    margin-top: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 140px;
    font-size: 13px;
    font-weight: 600;
    border-style: none;
    background: rgba(128, 128, 128, 0.486);
    border-radius: 18px;
    /* margin-bottom: 40px;
    margin-right: 70px; */
    transition-duration: 3s;
  }
  .title {
    font-size: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .text {
    font-size: 20px;
  }
  .filters > select {
    width: 140px;
    font-size: 15px;
    height: 25px;
  }
}
@media screen and (max-width: 420px) {
  .title {
    font-size: 33px;
  }
}
