.container {
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;
  background: url("https://res.cloudinary.com/dw83apcj7/image/upload/v1674849995/compu_es99hb.jpg");
  background-attachment: fixed;
  z-index: 300;
}
.header {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  backdrop-filter: blur(150px);
  position: sticky;
  top: 0%;
}

.title {
  font-size: 90px;
  font-weight: 800;
  margin-left: 5vw;
  border-bottom: 3px solid #1b4ab0bf;
  padding-right: 300px;
  padding-left: 30px;
}
.img {
  height: 20px;
  margin-right: 5px;
}
.containButton {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: end;
}
.logout {
  margin-top: 30px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 150px;
  font-size: 15px;
  font-weight: 600;
  border-style: none;
  background: rgba(128, 128, 128, 0.486);
  border-radius: 18px;
  /* margin-bottom: 40px;
  margin-right: 70px; */
  transition-duration: 3s;
}
.logout:hover {
  transition-duration: 1s;
  box-shadow: black 1px 1px 15px;
}
.logout:focus {
  cursor: progress;
}

.search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0%;
}

.containBody {
  display: flex;
}

.cardsCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70vw;
}
.containMenu {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 30vw;
}

.containOptions {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: fit-content;
  position: sticky;
  top: 23vh;
  align-items: center;
}
.text {
  font-weight: 500;
}
.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters > select {
  outline: none;
  border-style: none;
  width: 250px;
  height: 36px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: rgba(128, 128, 128, 0.749);
  font-size: 20px;
  color: rgb(254, 254, 254);
  padding-left: 20px;
}
.iconReload {
  height: 15px;
  margin-right: 5px;
}
.refresh {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 120px;
  font-size: 15px;
  font-weight: 600;
  border-style: none;
  background: rgba(128, 128, 128, 0.486);
  border-radius: 18px;
  /* margin-bottom: 40px;
  margin-right: 70px; */
  transition-duration: 3s;
}
.refresh:hover {
  transition-duration: 1s;
  box-shadow: black 1px 1px 15px;
}
.refresh:focus {
  cursor: progress;
}
.refresh:active {
  cursor: progress;
}

.singleCard {
  margin: 20px;
}
.link {
  text-decoration: none;
}
.containPaginado {
  margin-top: 30px;
  width: 400px;
}

@media screen and (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: auto;
  }
  .singleCard {
    margin: 20px;
  }
  .paginado {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  .filters {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
  }
  .order {
    grid-template-rows: 1/2;
  }
  .title {
    font-size: 35px;
  }
  .filters > select {
    margin: 0%;
  }
}

@media screen and (max-width: 350px) {
  .title {
    font-size: 30px;
  }
}
