.containMaster{
  
  display: flex;
  /* position: fixed;  */
  width: 100vw;
  height: 55px;
  z-index: 99;
  margin: 0;   
  top: 0;
  /* padding:0 20%; */
  justify-content: center;
}
.contain{

  background-color: #F8C471;
  /* align-items: center; */
  display:flex;
  flex-direction: row; 
  /* z-index: 99; */
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  margin-top: 4em;
}
  
  .masterSellClient{
    display: flex;
    position: fixed; 
    width: 100vw;
    height: 55px;
    z-index: 99;
    margin: 0;   
    top: 3.5em;
    justify-content: center;

  }
  .containSellClient{
    align-items: center;
    display:flex;
    justify-content: space-between;
    width: 100%;
    max-width:600px;
  }

  .select{
    display: flex;  
    flex-direction: row;
    background-color: #162cbb;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    border-radius: 12px;
    padding: 10px;
    color: aliceblue;
  }
  .btn{
    position: relative;
    /* top:20px; */
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    background-color:#162cbb ;
    color: white;
    font-weight: bold;
    border: none;
  }

  .btnCant{
    position: relative;
    /* top:20px; */
    border-radius: 10px;
    font-size: 20px;
    /* padding: 10px; */
    background-color:#e7e7eb ;
    color: rgb(4, 24, 139);
    font-weight: bold;
    border: none;
  }
  .masterChosenPeople{
    display: flex;
    position: fixed; 
    width: 100vw;
    height: 55px;
    z-index: 99;
    margin: 0;   
    top: 5.5em;
    justify-content: center;
  }
  .containChosenPeople{
    align-items: center;
    display:flex;
    justify-content: space-between;
    width: 100%;
    max-width:600px;
  }

  .masterOrden{
    display: flex;
    position: fixed; 
    width: 100vw;
    height: 55px;
    z-index: 99;
    margin: 0;
    
    top: 0;
    justify-content: right;

  }

  .containOrden{
    align-items: center;
    display:flex;
    justify-content: space-between;
    width: 100%;
    max-width:450px;
    margin-right:3em
  }
  .masterButton{
    display: flex;
    position: fixed; 
    width: 1px;
    height: 100px;
    
    z-index: 99;
    margin: 0;
    background-color: #162cbb;
    align-items: center;

    /* top: 4em; */
    justify-content: center;
  }

  .containButton{
    /* align-items: center; */
    display:flex;
    flex-direction: column; 

    justify-content: space-between;
    height: 100%;
    max-height:60px;
    background-color: #162cbb;

  }

  /* .principalProduct{
    display: flex;
    position: fixed; 
    z-index: 99;
    margin: 0;
    width: 100px;
    height: 55px;
    background-color: #162cbb;

  } */

  .principalCantidad{
    display:flex;
    
    background-color: #162cbb;

    align-items: center;
  }
  .masterCantidad{
    display: flex;
    position: fixed; 
    width: 100vw;
    height: 100px;
    z-index: 99;
    margin: 0;
    
    top: 9.5em;
    justify-content: center;
  }
  .containCantidad{
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    max-width:500px;
    background-color: #162cbb;

  }

  .containFinishOrder{
    display: flex;
    position: fixed; 
    width: 100vw;
    height: 55px;
    z-index: 99;
    margin: 0;
    
    top: 30em;
    justify-content: center;
  }
  .finishOrder{
    display:flex;
    align-items: center;

    justify-content: center;
  }

  .containButtonAdd{
    display: flex;
    position: fixed; 
    width: 100vw;
    height: 55px;
    z-index: 99;
    margin: 0;
    
    top: 13em;
    justify-content: center;

    

    
  }

  .buttonAdd{
    /* display:flex;
    align-items: center;    
    justify-content: center;
    background-color: #162cbb;
    width: 540px; */

    align-items: center;
    display:flex;
    /* flex-direction: row; */
    justify-content: center;
    width: 100%;
    max-width:500px;
    background-color: #162cbb;

   
  }

  /* .btn{
    
    border-radius: 10px;
    font-size: 20px;

    background-color:#162cbb ;
    color: white;
    font-weight: bold;
    border: none;
    
  } */
  .form{
  
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    color: black;
    
    /* margin-left: 30px ; */
  }
  
  .description{
    display: flex;
  }
  