.containMaster {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("https://res.cloudinary.com/dw83apcj7/image/upload/v1675376730/productos_eoaycg.png");
  flex-direction: column;
}
.contain {
  background: #1b4bb0;
  display: flex;
  flex-direction: column;
}
.containOrden {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.containOrden > h1 {
  font-size: 25px;
  font-weight: 500;
  background: #1b4bb0;
  color: white;
  padding: 20px;
  height: 30px;
  margin-left: 20px;
}
.containNumberOrder > h1 {
  font-size: 25px;
  font-weight: 500;
  background: #1b4bb0;
  color: white;
  padding: 20px;
  margin-right: 20px;
}
.select {
  background: #59595aab;
  width: 200px;
  height: 30px;
  border-radius: 14px;
  color: white;
  font-weight: 600;
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .containOrden > h1 {
    font-size: 15px;
    padding: 10px;
  }
  .containNumberOrder > h1 {
    font-size: 15px;
    padding: 10px;
  }
}
@media screen and (max-width: 500px) {
  .containOrden > h1 {
    font-size: 13px;
    padding: 10px;
  }
  .containNumberOrder > h1 {
    font-size: 13px;
    padding: 10px;
  }
}
