  .Buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  .TitleForm {
    font-size: 60px;
    color: #1b4bb0;
  }

  .seller_client{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 2.5em;
  }

  .masterSellClient{
    padding-left: 8em;
  }

  
  .containCeldasState {
    display: flex;
    flex-direction: row;
  }
  
  .containCeldas {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .celdas {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0.8em;
  }
  .celdaTotal{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 0.8em;
  }
  .containInputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 2.8em;
  }

  .containPrTotal{
    display: flex;
    flex-direction: row;
  }
  .input {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: auto;
  }
  
  .casillas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .inputCeldas {
    height: 2em;
  }
  
  .cargar {
    display: flex;
    padding-left: 5%;
  }
  